.cartContainer{

}
.cart-item{
    display: grid;
    grid-template-columns: repeat(3, 33%);
    grid-template-rows: 40% 40% 20%;
    border-bottom: 1px solid rgb(118, 118, 118);
    background-color: #fff;
    height: 200px;
    padding: 1rem 0;
}
.cart-item-img{
    grid-row: 1/3;
}
.cart-item-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.cart-item-title{
    grid-column: 2/4;
    font-size: 18px;
}
.cart-item-quantity{
    grid-column: 2/4;
}
.cart-item-quantity button{
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: #fff;
    background-color: #0077ffcc;
    cursor: pointer;
}
.cart-item-quantity span{
    margin: 1rem;
}
.cart-item-delete{
    justify-self: center;
    align-self: center;
}
.cart-item-delete button{
    font-size: 16px;
    font-weight: 100;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
.cart-item-price{
    grid-column: 3/4;
    justify-self: center;
    align-self: center;
    font-size: 26px;
}